.headFoot {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f7c707;
  padding: 10px 20px;
  color: #4b270f;
}
.navegacion {
  text-decoration: none;
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  margin: 5px;
  gap: 20px; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-right: 10%;
}
.navegacion a {
  cursor: pointer;
  transition: color 0.3s ease;
}
.navegacion a:hover {
  color: #ffffff;
}
.imagen{
  margin-left: 15%;
}
#foot{
   justify-content: space-between
}
.productos{
  margin: 10px;
  margin-left: 50px;
}
a{
  color: #4b270f;
  text-decoration: none;
}
