<header>
  <div class="headFoot">
    <img src="img/imagen.png" alt="imagen" height="90px" class="imagen">
    <img src="img/Titulo.png" alt="titulo" height="60px">
    <ol class="navegacion">
      <li><a href='home'>Home</a></li>
      <li><a href='productos'>Productos</a></li>
      <li><a href='miCarrito'>Carrito</a></li>
      <li><a href='singUp'>Registrarse</a></li>
    </ol>
  </div>
</header>

<div class="productos">
  <router-outlet> </router-outlet>
</div>

<footer>
    <div class="headFoot" id="foot">
        <h6>Contacto: camonkiishop&#64;gmail.com</h6>
        <p>©Camonkii 2025</p>
    </div>
</footer>
